<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in items" :key="item.message">{{ item.message }}</li>
        </ul>
        <ul>
            <li v-for="(item, index) in items">{{ index }} - {{ item.message }}</li>
        </ul>
        <ul>
            <li v-for="value in object">{{ value }}</li>
        </ul>
        <ul>
            <li v-for="(value, name, index) in object">{{ index }} - {{ name }} - {{ name }}</li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>

</html>