<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="datapass">
        <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
        ></blog-post>
        <hr>
        <refactor-blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
        ></refactor-blog-post>
        <hr>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <childcomponent-blog-post
                v-for="post in posts"
                v-bind:key="post.id2"
                v-bind:post="post"
                v-on:enlarge-text="onEnlargeText"
            ></childcomponent-blog-post>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>